color = {
  // @stylint off
  darkGrey: #262525,
  darkenGrey: #666666,
  grey: #9b9b9b,
  lightenGrey: #e8e8e8,
  lightGrey: #f8f7f5,
  white: #ffffff,
  error: #f44336,
  black: #000000,
  cream: #faf6eb,
  // @stylint on
}

font = {
  primary: unquote('"Gotham", Arial, Helvetica, sans-serif'),
  secondary: unquote('"bodoni-urw", Garamond, "Times New Roman", serif'),
  size: {
    base: 16px,
    h1: rem(75px),
    h2: rem(46px),
    h3: rem(30px),
    h4: rem(22px),
    h5: rem(18px),
    h6: rem(16px),
    small: rem(13px),
    extraSmall: rem(12px),
    extraLarge: rem(130px),
    p: rem(16px),
  }
}

layout = {
  columns: 12,
}

screen = {
  large: 1099px,
  medium: 959px,
  small: 767px,
  extraSmall: 479px,
}

zIndex = {
  z1: 100,
  z2: 200,
  z3: 300,
  z4: 400,
  z5: 500,
}
