.button {
  display: inline-block;
  position: relative;
  font-size: 1em;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 12px 30px;
  border: 0 none;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #000000;
  transition: box-shadow .2s ease;
  cursor: pointer;
}

.big {
  display: block;
  width: 100%;
}
  
.button:hover {
  box-shadow: 0 0 0 2px #000000;
  text-decoration: none;
}